
.alert-message {
  margin: 1rem 0;
  border-radius: 4px;
  border: 0 solid transparent;
  padding: 1.25rem 1.5rem;
  display: flex;
  align-items: center;
  position: relative;

  &-icon {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: #212121;
  }

  &-detail {
    white-space: pre-line;
    margin-right: 0.5rem;
  }

  &-summary {
    font-weight: 600;
  }

  &-close {
    border-radius: 50%;
    background: transparent;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.3);
    }

    &:focus {
      outline: 0 none;
      outline-offset: 0;
      box-shadow: none;
    }
  }

  &-info {
    background: #31e0cb;
    color: #212121;
  }

  &-success {
    background: green;
    color: #212121;
  }

  &-warning {
    background: orange;
    color: #212121;
  }

  &-error {
    background: red;
    color: #212121;
  }

  &-help {
    background: purple;
    color: #212121;
  }
}