 /*App.css*/
 .notificationsFrame {
  z-index: 2;
  width: 100%;
  top: 20px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin-bottom: 40px;
}

